<div class="clock-container">
  <p class="time hour">{{hour}}</p>
  <p class="time min">{{min}}</p>
  <div class="suffix-column">
    <p class="time-suffix">{{suffix}}</p>
    <p class="time sec">{{sec}}</p>
  </div>
</div>
<div class="next-event-row">
  <p *ngIf="timeToNextEvent" class="next-event-text">
    <span *ngIf="timeToNextEvent.hours">{{timeToNextEvent.hours}} {{timeToNextEvent.hours > 1 ? 'hours' : 'hour'}} and </span>
    {{timeToNextEvent.minutes}} {{timeToNextEvent.minutes > 1 ? 'minutes' : 'minute'}} until {{nextEvent?.name}}
  </p>
</div>