.clock-container {
  width: 100%;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 200;
}

.time {
  margin: 0;
}

.time.hour, .time.min {
  margin: 0 5px 0 0;
}

.suffix-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  height: 35px;
}

.time-suffix {
  margin: 0;
  padding: 0 0 0 3px;
  font-size: .75em;
}

.next-event-row {
  display: flex;
  justify-content: center;
  height: 16px;
}

.next-event-text {
  margin: 0;
  padding: 0 5px;
  font-weight: 200;
  font-size: 14px;
  border-left: 2px solid #64FFDA;
}
