<div class="location-container">
  <div class="location-box">

    <div class="loc-icon-box">
      <button mat-icon-button *ngIf="!currentLocationSaved" (click)="handleAddLocationClick()" color="accent">
        <i class="material-icons">add</i>
      </button>
    </div>

    <!-- <div *ngIf="locationLoading" class="location-loading-box">
        <mat-spinner color="accent" strokeWidth="2" diameter="25"></mat-spinner>
    </div> -->

    <form  action="#" (submit)="handleLocationInput()">
      <mat-form-field  color="accent">
        <input 
        matInput
        type="text" 
        name="location" 
        class="location-text" 
        autocomplete="off" 
        [(ngModel)]="displayName"
        (click)="displayName=''"
        (blur)="handleBlur()">
      </mat-form-field>
    </form>
    
    <div class="loc-icon-box">
      <button mat-icon-button [matMenuTriggerFor]="menu" color="accent">
        <i class="material-icons">expand_more</i>
      </button>
      <mat-menu #menu="matMenu" color="accent">
        <div mat-menu-item class="menu-row" (click)="useCurrentLocation()">
          Use Current Location
          <i class="material-icons delete-location-icon">gps</i>
        </div>
        <div *ngFor="let loc of savedLocations" mat-menu-item (click)="cityClick(loc)" class="menu-row">
          {{loc.displayName}}
          <div (click)="deleteClick(loc)" class="delete-btn-box">
            <button class="delete-location-btn">
              <i class="material-icons delete-location-icon">close</i>
            </button> 
          </div>
        </div>
      </mat-menu>
    </div>

  </div>
</div>  