<div class="location-container">
  <div class="location-box">
    <!-- <div class="loc-icon-box">
      <i *ngIf="!currentLocationSaved" class="material-icons loc-icon add-loc-icon">add</i>
    </div> -->

    <div>
      <button mat-icon-button *ngIf="!currentLocationSaved">
        <i class="material-icons">add</i>
      </button>
    </div>

    <div *ngIf="locationLoading" class="location-loading-box">
        <mat-spinner color="accent" strokeWidth="2" diameter="25"></mat-spinner>
    </div>

    <form *ngIf="!locationLoading" action="#" (submit)="handleLocationInput($event)">
      <mat-form-field color="accent">
        <input 
        matInput
        type="text" 
        name="location" 
        class="location-text" 
        autocomplete="off" 
        [(ngModel)]="displayName"
        (click)="displayName=''">
      </mat-form-field>
    </form>
    
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <i class="material-icons">expand_more</i>
      </button>
      <mat-menu #menu="matMenu" color="accent">
        <div mat-menu-item class="menu-row">
          Use Current Location
          <i class="material-icons delete-location-icon">gps</i>
        </div>
        <div *ngFor="let loc of savedLocations" mat-menu-item (click)="cityClick($event, loc)" class="menu-row">
          {{loc}}
          <div (click)="deleteClick($event, loc)" class="delete-btn-box">
            <button class="delete-location-btn">
              <i class="material-icons delete-location-icon">close</i>
            </button> 
          </div>
        </div>
      </mat-menu>
    </div>

    <!-- <div class="loc-icon-box" [matMenuTriggerFor]="menu">
      <i class="material-icons loc-icon">expand_more</i>
      <mat-menu #menu="matMenu" color="accent">
      <div mat-menu-item class="menu-row">
        Use Current Location
        <i class="material-icons delete-location-icon">gps</i>
      </div>
      <div *ngFor="let loc of savedLocations" mat-menu-item (click)="cityClick($event, loc)" class="menu-row">
        {{loc}}
        <div (click)="deleteClick($event, loc)" class="delete-btn-box">
          <button class="delete-location-btn">
            <i class="material-icons delete-location-icon">close</i>
          </button> 
        </div>
      </div>
      </mat-menu>
    </div> -->
  </div>
</div>  