<div class="settings-menu-container">

  <mat-slide-toggle
    color="accent"
    id="autoDetectLocation"
    labelPosition="before"
    [checked]="dynamicSettings.autoDetectLocation"
    (change)="updateToggled($event)">
    Automatically Detect Location
  </mat-slide-toggle>
  
  <mat-form-field color="accent">
    <mat-label>Calculation Method</mat-label>
    <mat-select 
    [value]="dynamicSettings.calcMethod"
    (selectionChange)="updateSelected($event)"
    id="calcMethod">
      <mat-option *ngFor="let method of calcMethods" [value]="method.value">
        {{method.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field color="accent">
    <mat-label>Asr Mode</mat-label>
    <mat-select 
    [value]="dynamicSettings.school"
    (selectionChange)="updateSelected($event)"
    id="school">
      <mat-option *ngFor="let school of schools" [value]="school.value">
        {{school.name === 'Hanafi' ? 'Hanafi' : 'Standard'}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field color="accent">
    <mat-label>Midnight Mode</mat-label>
    <mat-select 
    [value]="dynamicSettings.midnightMode"
    (selectionChange)="updateSelected($event)"
    id="midnightMode">
      <mat-option *ngFor="let mode of midnightModes" [value]="mode.value">
        {{mode.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- TODO: Add notifications toggle -->

</div>