.time-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.times-container {
  width: 100%;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20%;
}

.times-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.times-table {
  margin: 0;
  padding: 0;
  font-weight: 200;
}