/* You can add global styles to this file, and also import other style files */
/* Dark Primary #37474F */
/* Darker Primary #263238 */
/* Accents #A7FFEB, #00BFA5 */

body * {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #ffffff;
  background-color: #263238;
  background: #263238;  
}

.view-container {
  min-width: 100vw;
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.window-box {
  width: 100%;
  max-width: 420px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-slide-toggle-label {
  justify-content: space-between !important;
}
